{{!empty abierta_nolimite_tmpl template}}

<div class="form-group">
  <label for="options" class="col-sm-6 control-label"></label>
  <label for="options" class="text-center col-sm-2 control-label text-success">{{answer}}</label>
  <div class="col-sm-2 text-center" data-idProposed="{{id}}"></div>
  <div class="col-sm-2 text-center">
    <input type="number" class="form-control" data-idScore="{{id}}" name="score"/>
  </div>
</div>
