{{!empty notFound template}}

<div class="error">
  <h2>Oops! <span>:(</span></h2>
  <p>La página no existe o no tienes los permisos necesarios</p>
  <p>Para saberlo, inicia sesión <a href="#login">aquí</a></p>
</div>
