{{!empty AddtestviewTmpl template}}

<div class="alert alert-success hidden" role="alert">El examen se ha creado exitosamente!</div>
<div class="alert alert-danger js-error hidden" role="alert">Hubo un error, intente de nuevo</div>
<form class="form-horizontal">
  <h4>Información general del Examen</h4>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Nombre del Examen</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="instructions" class="col-sm-2 control-label">Instrucciones</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="instructions" rows="3" required></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="duration" class="col-sm-2 control-label">Duración del examen (min)</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="duration" required>
    </div>
  </div>
  <div class="form-group">
    <label for="extra_time" class="col-sm-2 control-label">Tiempo extra (min)</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="extra_time" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="1" name="is_autocorrect">¿El examen será autocorregido?
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="1" name="is_active">¿Quiere que el examen esté activo al guardarse?
        </label>
      </div>
    </div>
  </div>
  <div class="alert alert-danger js-empty hidden" role="alert">Por favor, rellene los campos vacíos</div>
  <button class="btn btn-default btn-success" id="saveQuiz">Guardar Examen</button>
</form>
