{{!empty BannerviewTmpl template}}

<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="#">Home</a></li>
      <li role="presentation"><a href="#agregarPrueba">Agregar Examen</a></li>
    </ul>
  </nav>
</div>
