{{!empty DotestviewTmpl template}}

<div class="layout">
  <div class="center">Prueba para candidatos</div>
  <button class="btn btn-default" id="beginTest">Comenzar prueba!</button>
</div>

<div id="exam" class="container"></div>
<div id="clock"></div>

<div class="layout hidden" id="examSent">
  <div class="center">La prueba ha sido enviada, gracias!!</div>
</div>
