{{!empty DotestviewTmpl template}}

<div class="layout">
  <div class="center">Prueba para candidatos</div>
  <button class="btn btn-default" id="beginTest">Comenzar prueba!</button>
</div>

<div id="exam" class="container"></div>
<div id="clock"></div>

<div class="layout hidden" id="examSent">
  <div class="center">La prueba ha sido enviada, gracias!!</div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="alreadyDone">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="mySmallModalLabel">Error!</h4>
      </div>
    <div class="modal-body">Este examen ya ha sido presentado, no puede ser resuelto de nuevo...</div>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="active">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="mySmallModalLabel">Error!</h4>
      </div>
    <div class="modal-body">Este examen ya no está activo, por favor contacte con la empresa</div>
    </div>
  </div>
</div>
