{{!empty GetcompanyviewTmpl template}}

<div class="alert alert-danger hidden" role="alert">Hubo un error, intente de nuevo</div>

<h3>{{name}}</h3>
<p>Correo Electrónico: {{email}}</p>

<button type="button" class="btn btn-default btn-danger" data-toggle="popover" data-trigger="focus" title="¿Estás seguro?" data-content="<button class='btn btn-default btn-primary' id='deleteCompany'>Eliminar</button>">Eliminar Compañía</button>
