{{!empty LoginviewTmpl template}}

<div class="alert alert-danger hidden" role="alert"></div>
<form class="form-signin">
  <h2 class="form-signin-heading">Por favor, inicie sesión</h2>
  <label for="email" class="sr-only">Usuario</label>
  <input type="email" id="email" class="form-control" placeholder="Usuario" required autofocus>
  <label for="password" class="sr-only">Contraseña</label>
  <input type="password" id="password" class="form-control" placeholder="Contraseña" required>
  <button class="btn btn-lg btn-primary" id="iniciarSesion">Iniciar Sesión</button>
  {# <button class="btn btn-lg btn-danger" id="authorize-button">Iniciar Sesión con Google</button> #}
  <div class="g-signin2" id="authorize-button"></div>
</form>
