{{!empty NavbarviewTmpl template}}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Portal de exámenes</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#agregarPrueba">Agregar Examen</a></li>
        <li><a href="#agregarCuenta">Agregar Cuenta</a></li>
      </ul>
      <p class="navbar-text navbar-right"><a href="#closeSession" class="navbar-link">Cerrar Sesión</a></p>
    </div><!--/.nav-collapse -->
  </div>
</nav>
