{{!empty NavbarviewTmpl template}}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Portal de exámenes</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      {{#if logged}}
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exámenes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{#isIn 1 permits}}
            <li><a href="#agregarExamen">Agregar</a></li>
            {{/isIn}}
            {{#isIn 4 permits}}
            <li><a href="#">Listar todos</a></li>
            {{/isIn}}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{#isIn 11 permits}}
            <li><a href="#agregarUsuario">Agregar</a></li>
            {{/isIn}}
            {{#isIn 13 permits}}
            <li><a href="#listarUsuarios">Listar todos</a></li>
            {{/isIn}}
            <li><a href="#verPerfil">Ver perfil</a></li>
          </ul>
        </li>
      </ul>
      <p class="navbar-text navbar-right"><a href="#" id="closeSession" class="navbar-link">Cerrar Sesión</a></p>
      {{/if}}
    </div><!--/.nav-collapse -->
  </div>
</nav>
