{{!empty NavbarviewTmpl template}}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Portal de exámenes</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exámenes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#agregarExamen">Agregar</a></li>
            <li><a href="#">Listar todos</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compañías <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#agregarCompania">Agregar</a></li>
            <li><a href="#listarCompanias">Listar todas</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#agregarUsuario">Agregar</a></li>
            <li><a href="#listarUsuarios">Listar todos</a></li>
          </ul>
        </li>
      </ul>
      <p class="navbar-text navbar-right"><a href="#closeSession" class="navbar-link">Cerrar Sesión</a></p>
    </div><!--/.nav-collapse -->
  </div>
</nav>
