{{!empty ReviewtestviewTmpl template}}

<h3>{{test.name}}</h3>
<p>Tiempo: {{test.duration}} min</p>
<p>Tiempo extra: {{test.extra_time}} min</p>
<p>Instrucciones: {{test.instructions}}</p><br>

<div id="score">0 ptos</div>
<div class="questions"></div>
