{{!empty ReviewtestviewTmpl template}}

<h3>{{name}}</h3>
<p>Tiempo: {{duration}} min</p>
<p>Tiempo extra: {{extra_time}} min</p>
<p>Instrucciones: {{instructions}}</p><br>

<div id="score">0 ptos</div>
<div class="questions"></div>
