{{!empty abierta_nolimite_tmpl template}}

<div class="selection">
  <div class="form-group">
    <input type="hidden" data-id="{{proposed_answer.0.id}}" class="form-control" name="options" value="">
  </div>
</div>
